<div class="error-msg-box">
	<i class="fa-solid fa-circle-xmark"></i>
	<div class="text">
		<span>Error</span>
		<p> {{errorMsg}} </p>
	</div>
	
</div>
<div class="success-msg-box">
	<i class="fa-solid fa-circle-check"></i>
	<div class="text">
		<span>Success</span>
		<p>saved successfully</p>
	</div>
	
</div>
<div class="settings-page">
	<div class="title">
		<i class="fa-solid fa-sliders"></i>
		<span>Settings</span>
	</div>

	<div class="message-box">
		<div class="ttl"><i class="fa-solid fa-check"></i><span>Success</span></div>
		<p>your informations has been saved successfully</p>
	</div>

	<div class="form" *ngIf="!isLoading">
		
		<div class="content-form-settings">
			
			<div class="sc">
				<div class="label">
					Login
				</div>
				<p>{{details.login}}</p>
			</div>	
			<div class="sc">
				<div class="label">
					First name
				</div>
				<input type="text" (input)="updateUserInfos('name',$event)" [value]="details.name" placeholder="Full name" />
			</div>
			<div class="sc">
				<div class="label">
					Last name
				</div>
				<input type="text" (input)="updateUserInfos('lastName',$event)" [value]="details.lastName" placeholder="Last name" />
			</div>
			<div class="sc">
				<div class="label">
					Pseudo name
				</div>
				<input type="text" (input)="updateUserInfos('pseudoName',$event)" [value]="details.pseudoName" placeholder="Pseudo name" />
			</div>
			<div class="sc">
				<div class="label">
					Telephone
				</div>
				<input type="number" (input)="updateUserInfos('teleAdmin',$event)" [value]="details.teleAdmin" placeholder="Telephone" />
			</div>

			<button (click)="update()" *ngIf="!isLoadingForm">save</button>
			<div class="loading-ellipsis" style="
				    top:auto;
				    bottom:-5%;left: 10%;" *ngIf="isLoadingForm">
				<div class="r1" style="
					width: 2.5%;
				    padding: 1.25% 0;
				    border-radius: 100%;
				    background-color: #b6b6b687;
				    margin: 0 2%;
				    scale: 2;"></div>
				<div class="r2" style="
					width: 2.5%;
				    padding: 1.25% 0;
				    border-radius: 100%;
				    background-color: #b6b6b687;
				    margin: 0 2%;
				    scale: 2;"></div>
				<div class="r3" style="
					width: 2.5%;
				    padding: 1.25% 0;
				    border-radius: 100%;
				    background-color: #b6b6b687;
				    margin: 0 2%;
				    scale: 2;"></div>
			</div>
		</div>

	</div>

	<div class="loading-ellipsis" *ngIf="isLoading">
		<div class="r1"></div>
		<div class="r2"></div>
		<div class="r3"></div>
	</div>


</div>