:root{

	--themeColor:#222629;
	--btnColor:#202529;
	--hover-btn-list:#2b3236;
	--border-left-btn:#c6c6c6;

}

/************************* Login page ******************************************/


.login-page-player{

	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 561230;
	background-color: white;
	display: flex;
	align-items: center;
	justify-content: center;
	overflow: hidden;

}

.login-page-player .form{

	width: 40%;
	padding: 20% 0;
	background-color: #212529;
	border-radius: 1vw;
	position: relative;

}

.login-page-player .form .content{

	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	text-align: center;

}

.login-page-player .form .content .title{

	font-size: 2.4vw;
	font-weight: 600;
	text-transform: uppercase;
	color: white;
	text-align: center;
	padding: 15% 0;
	padding-bottom: 2%;

}

.login-page-player .form .content .sb{

	text-align: center;
	font-size: 1.2vw;
	color: gray;
	margin-bottom: 14%;

}

.login-page-player .form .content input{

	width: 66%;
	padding: 2.5% 2%;
	margin-bottom: 5%;
	font-size: 1.1vw;
	border-radius: .3vw;
	border: none;

}

.login-page-player .form .content button{

	width: 70%;
	padding: 2.5% 2%;
	margin-bottom: 8%;
	font-size: 1.3vw;
	border-radius: .3vw;
	border: none;
	background-color: #0889ef;
	color: white;
	cursor: pointer;

}

.login-page-player .form .content .hr{

	width: 90%;
	margin: 0 5%;
	padding: .1% 0;
	background-color: gray;

}


@media screen and (max-width:960px){

	.login-page-player{
		background-color: #212529;
	}

	.login-page-player .form{
		width: 100%;
		padding: 0;
		background-color: transparent;
	}
	.login-page-player .form .content{

		width: 100%;
		height: auto;
		position: relative;
		background-color: #212529;

	}
	.login-page-player .form .content .title{
		font-size: 13vw;
	}
	.login-page-player .form .content .sb{
		font-size: 4vw;
	}

	.login-page-player .form .content input,
	.login-page-player .form .content button{
		font-size: 4vw;
		border-radius: 1vw;
		width: 80%;
		padding: 3% 3%;
	}

}



/*********************************************************************************************************************/
/**********************************************                       ************************************************/
/**********************************************   Admin component     ************************************************/
/**********************************************                       ************************************************/
/*********************************************************************************************************************/




.container-app{

	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	position: absolute;
	display: flex;
	align-items: center;
	justify-content: center;

}


.container-app .menu{

	width: 20%;
	height: 100%;
	background-color: var(--themeColor);
	overflow: hidden;
	overflow-y: auto;

}

.container-app .menu .header{

	width: 100%;
	height: 7%;
	display: flex;
	align-items: center;
	justify-content: space-around;
	background-color: #181c20;
	color: white;

}

.container-app .menu .header .logo{

	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;

}

.container-app .menu .header .logo img{

	width: 50%;

}

.container-app .menu .detail{

	font-size: 1vw;
	color: white;
	padding: 4%;

}

.container-app .menu .detail p{

	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;

}

.container-app .menu .detail p.name{

	font-size: 1.2vw;

}


.container-app .menu .detail p span{

	font-weight: 600;

}

.container-app .menu .title{

	font-size: 1.2vw;
	color: white;
	font-weight: 600;
	padding: 2% 5%;
	height: 5%;
	display: flex;
	align-items: center;
	background-color: #2d3337;
	display: flex;
	align-items: center;
	cursor: pointer;
}

.container-app .menu .title p{

	text-align: left;
	width: 90%;

}



.container-app .menu .list{

	width: 100%;
	display: flex;
	align-items: center;

}

.container-app .menu .list .ctn{

	width: 100%;
	overflow: hidden;
	overflow-y: auto;

}

.container-app .menu .list .ctn .item{

	width: 100%;
	padding: 7% 6%;
	font-size: 1.2vw;
	cursor: pointer;
	color: white;
	border-left: .2vw solid transparent;

}

.container-app .menu .list .ctn .item i{

	width: 10%;
	margin-right: 5%;
	text-align: center;

}

.container-app .menu .list .ctn .item.active-menu-page{

	background-color: var(--hover-btn-list);
	border-color: var(--border-left-btn);

}

.container-app .menu .list .ctn .item:hover{

	background-color: var(--hover-btn-list);

}

.container-app .main{

	width: 100%;
	height: 100%;
	background-color: white;

}

.container-app .main .users-page{

	width: 100%;
	height: 100%;
	overflow: hidden;

}

.container-app .main .users-page .header{

	width: 100%;
	height: 8%;
	display: flex;
	align-items: center;
	justify-content: space-between;
	box-shadow:  0 0 .5vw 0 #d1d1d1;

}

.container-app .main .users-page .header .title{

	margin-left: 1%;
	font-size: 1.6vw;
	font-weight: 600;
	color: #3f3f3f;
	display: flex;
	align-items: center;
	width: 55%;

}

.container-app .main .users-page .header .title a{

	font-weight: 100;
	text-decoration: none;
	cursor: pointer;

}


.container-app .main .users-page .header .title .return-btn{

	margin-right: 2%;
	cursor: pointer;
	padding: 1% 2.2%;
	padding-top: 1.5%;
	border-radius: 100%;
	color: #4c4c4c;

}


.container-app .main .users-page .header .btns{

	width: 30%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: right;

}

.container-app .main .users-page .header .btns .btn{

	width: 40%;
	padding: 3%;
	background-color: var(--btnColor);
	display: flex;
	align-items: center;
	margin-right: 2%;
	font-size: 1.2vw;
	color: white;
	cursor: pointer;

}

.container-app .main .users-page .header input{
	width: 43%;
    padding: .4% 1%;
    font-size: 1.2vw;
	position: absolute;
	left: 35%;
}

.container-app .main .users-page .header .btns .btn i{

	margin-right: 8%;
	font-size: 1.38vw;

}

.container-app .main .users-page .list{

	width: 100%;
	height: 92%;
	overflow: hidden;
	overflow-y: auto;

}

.container-app .main .users-page .list .head-list{

	width: 96%;
	height: 8%;
	display: flex;
	align-items: center;
	justify-content: space-around;
	margin: 0 2%;

}

.container-app .main .users-page .list .head-list .item{

	width: 24%;
	text-align: center;
	font-size: 1.3vw;
	color: #596989;
	font-weight: 600;

}

.container-app .main .users-page .list .item-list{

	width: 96%;
	height: 8%;
	display: flex;
	align-items: center;
	justify-content: space-around;
	border-top: .1vw solid #c5c5c5;
	margin: 0 2%;

}


.container-app .main .users-page .list .item-list .it{

	width: 24%;
	font-size: 1.1vw;
	color: #525252;
	display: flex;
	align-items: center;
	justify-content: center;

}

.container-app .main .users-page .list .item-list .it.id{

	font-weight: 600;

}


.container-app .main .users-page .list .item-list .it.name{

	font-weight: 600;
	display: -webkit-box;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
	overflow: hidden;
	text-align: center;
}



.container-app .main .users-page .list .item-list .it .status-account{
	
	display: flex;
	align-items: center;
	justify-content: center;
	color: #525252;

}

.container-app .main .users-page .list .item-list .it .status-account i{

	font-size: .6vw;
	margin-right: 2%;
	color: #0dd20d;

}


.container-app .main .users-page .list .item-list .it .btn{

	border-radius: .3vw;
	color: white;
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
	margin: 0 2%;
	padding: 4% 0;

}

.container-app .main .users-page .list .item-list .it .btn i{

	margin-right: 5%;

}

.container-app .main .users-page .list .item-list .it .btn.edit{

	background-color: var(--btnColor);
	width: 15%;

}

.container-app .main .users-page .list .item-list .it .btn.block{

	background-color: #f7594d;
	width: 15%;

}

.container-app .main .settings-page{

	width: 100%;
	height: 100%;
	background-color: white;

}

.container-app .main .settings-page .title{

	font-size: 2vw;
	padding: 2% 3%;
	color: gray;
	display: flex;
	align-items: center;

}

.container-app .main .settings-page .title i{

	margin-right: 1%;

}


.container-app .main .settings-page .form{

	width: 100%;
	height: 80%;
	display: flex;
	align-items: center;
	justify-content: center;

}


.container-app .main .settings-page .form .content-form-settings{

	width: 50%;
	position: relative;

}


.container-app .main .settings-page .form .content-form-settings .sc{

	display: flex;
	align-items: center;
	width: 100%;
	margin: 3% 0;

}

.container-app .main .settings-page .form .content-form-settings .sc .label{

	background-color: #e0e0e0;
	width: 24%;
	padding-left: 2%;
	font-size: 1.2vw;
	border-radius: 0;
	padding: 2% 2%;
	border: .1vw solid #e0e0e0;
	color: #5f5f5f;


}

.container-app .main .settings-page .form .content-form-settings .sc input{

	width: 80%;
	border: .1vw solid #b3b3b3;
	border-left: none;
	padding: 1.9% 2%;
	background-color: transparent;
	font-size: 1.2vw;
	color: #5f5f5f;

}

.container-app .main .settings-page .form .content-form-settings .sc p{

	width: 80%;
	border: .1vw solid #b3b3b3;
	border-left: none;
	padding: 1.9% 2%;
	font-size: 1.2vw;
	color: #5f5f5f;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;

}



.container-app .main .settings-page .form .content-form-settings .sc .dropdown{

	width: 80%;
	padding: 3.5% 2%;
	border: .1vw solid #b3b3b3;
	border-left: 0;
	position: relative;


}

.container-app .main .settings-page .form .content-form-settings .sc .dropdown select{

	border: none;
	border-left: none;
	background-color: transparent;
	font-size: 1.2vw;
	color: #5f5f5f;
	position: absolute;
	width: 95%;
	height: 100%;
	top: 0;
	cursor: pointer;

}





.container-app .main .settings-page .form .content-form-settings button{

	width: 100%;
	padding: 2% 0;
	font-size: 1.3vw;
	border: none;
	background-color: var(--btnColor);
	color: white;
	cursor: pointer;
	border-radius: .4vw;

}


.container-app .main .settings-page .message-box{

	width: 30%;
	background-color: whitesmoke;
	position: absolute;
	top: 5%;
	left: 42%;
	padding: .4% 1%;
	border-left: .3vw solid #0591ff;
	border-radius: .3vw;
	transition: .3s;
	opacity: 0;
	pointer-events: none;

}

.container-app .main .settings-page .message-box .ttl{

	font-size: 1.2vw;
	padding: 0;

}


.container-app .main .settings-page .message-box i{

	padding: 1.2%;
	background-color: #0591ff;
	border-radius: 100%;
	color: white;
	margin-right: 3%;

}

.container-app .main .settings-page .message-box p{

	font-size: 1.2vw;
	padding: 2% 4%;
	color: #525252;

}

.loading-ellipsis{

	width: 80%;
	display: flex;
	align-items: center;
	justify-content: center;
	position: absolute;
	top: 50%;

}


.loading-ellipsis div{

	width: 2.5%;
	padding: 1.25% 0;
	border-radius: 100%;
	background-color: #b6b6b687;
	margin: 0 .3%;
	scale: .7;
	animation: r1Anim .4s infinite linear alternate;

}

.loading-ellipsis div.r1{

	animation-delay: -0.072s;

}

.loading-ellipsis div.r2{

	animation-delay: -0.208s;

}

.loading-ellipsis div.r3{

	animation-delay: -0.38s;

}

@keyframes r1Anim{

	0%{

		scale: .9;
		background-color: #b6b6b6;

	}

}

@keyframes r2Anim{

	0%{

		scale: .7;
		background-color: #b6b6b6;

	}

}


@keyframes r3Anim{

	0%{

		scale: .7;
		background-color: #b6b6b6;

	}

}


.container-app .main .admins-page{

	width: 100%;
	height: 100%;
	background-color: white;
	overflow: hidden;

}



.container-app .main .admins-page .header{

	width: 100%;
	height: 8%;
	display: flex;
	align-items: center;
	justify-content: space-between;
	box-shadow:  0 0 .5vw 0 #d1d1d1;
	position: relative;

}

.container-app .main .admins-page .header .title{

	margin-left: 1%;
	font-size: 1.4vw;
	font-weight: 600;
	color: #3f3f3f;

}

.container-app .main .admins-page .header input{
	width: 43%;
    padding: .4% 1%;
    font-size: 1.2vw;
	position: absolute;
	left: 35%;
}

.container-app .main .admins-page .header .btns{

	width: 30%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: right;

}

.container-app .main .admins-page .header .btns .btn{

	width: 45%;
	padding: 3%;
	background-color: var(--btnColor);
	display: flex;
	align-items: center;
	margin-right: 2%;
	font-size: 1.2vw;
	color: white;
	cursor: pointer;

}

.container-app .main .admins-page .header .btns .btn i{

	margin-right: 8%;
	font-size: 1.38vw;

}

.container-app .main .admins-page .list{

	width: 100%;
	height: 92%;
	overflow: hidden;
	overflow-y: auto;

}

.container-app .main .admins-page .list .head-list{

	width: 96%;
	height: 8%;
	display: flex;
	align-items: center;
	justify-content: space-around;
	margin: 0 2%;

}

.container-app .main .admins-page .list .head-list .item{

	width: 24%;
	text-align: center;
	font-size: 1.3vw;
	color: #596989;
	font-weight: 600;

}

.container-app .main .admins-page .list .item-list{

	width: 96%;
	height: 8%;
	display: flex;
	align-items: center;
	justify-content: space-around;
	border-top: .1vw solid #c5c5c5;
	margin: 0 2%;

}


.container-app .main .admins-page .list .item-list .it{

	width: 24%;
	font-size: 1.1vw;
	color: #525252;
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	overflow: hidden;
	text-overflow: ellipsis;

}

.container-app .main .admins-page .list .item-list .it.id{

	font-weight: 600;

}

.container-app .main .admins-page .list .item-list .it.name{

	font-weight: 600;
	display: -webkit-box;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
}

.container-app .main .admins-page .list .item-list .it.name button{
	border: none;
    color: white;
    padding: 2%;
    cursor: pointer;
    font-size: 1.2vw;
}

.container-app .main .admins-page .list .item-list .it.link{

	color: var(--btnColor);

}

.container-app .main .admins-page .list .item-list .it.link i{

	padding: 2.5% 2%;
	border-radius: .2vw;
	margin-left: 5%;
	background-color: var(--btnColor);
	color: white;
	cursor: pointer;

}


.container-app .main .admins-page .list .item-list .it .status-account{
	
	display: flex;
	align-items: center;
	justify-content: center;
	color: #525252;

}

.container-app .main .admins-page .list .item-list .it .status-account i{

	font-size: .6vw;
	margin-right: 2%;

}

.container-app .main .admins-page .list .item-list .it .btn{

	border-radius: .3vw;
	color: white;
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
	margin: 0 2%;
	padding: 6% 0;

}

.container-app .main .admins-page .list .item-list .it .btn i{

	margin-right: 5%;

}

.container-app .main .admins-page .list .item-list .it .btn.edit{

	background-color: var(--btnColor);
	width: 25%;

}

.container-app .main .admins-page .list .item-list .it .btn.block{

	background-color: #f7594d;
	width: 25%;

}


.container-app .main .user-form{

	width: 100%;
	height: 100%;
	background-color: white;
	display: flex;
	align-items: center;
	justify-content: center;

}


.container-app .main .user-form .form{

	width: 50%;
	position: relative;

}

.container-app .main .user-form .form select{

	width: 100%;
	padding: 2.5% 2%;
	font-size: 1.1vw;
	margin-bottom: 2%;
	border: .1vw solid gray;
	background-color: transparent;
	border-radius: .3vw;

}

.container-app .main .user-form .form input{

	width: 96%;
	padding: 2.5% 2%;
	font-size: 1.1vw;
	margin-bottom: 2%;
	border: .1vw solid gray;
	background-color: transparent;
	border-radius: .3vw;

}

.container-app .main .user-form .form .sc{

	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;

}

.container-app .main .user-form .form .flex-input{

	width: 99%;
	display: flex;
	align-items: center;
	justify-content: space-between;

}

.container-app .main .user-form .form .flex-input .input{

	width: 45%;

}

.container-app .main .user-form .form .flex-input .input input{

	width: 94%;
	padding: 5% 4%;
	font-size: 1.1vw;
	margin: 0;
	border: .1vw solid gray;
	background-color: transparent;
	border-radius: .3vw;

}

.container-app .main .user-form .form input.amount{

	width: 75%;
	margin: 0;

}

.container-app .main .user-form .form button.amount{

	width: 9%;
	padding: 2% 0;
	margin: 0;

}

.container-app .main .user-form .form label{

	font-size: 1.3vw;
	font-weight: 600;
	padding-top: 5%;

}

.container-app .main .user-form .form label.error-msg{

	font-size: 1vw;
	font-weight: 100;
	padding: 0;
	color: red;

}


.container-app .main .user-form .form i{
	pointer-events: none;
}

.container-app .main .user-form .form button{

	width: 100%;
	padding: 2.5% 0;
	font-size: 1.4vw;
	border: .1vw solid transparent;
	border: none;
	background-color: #212121;
	border-radius: .3vw;
	color: white;
	cursor: pointer;

}

.container-app .main .user-form .return-btn{

	position: absolute;
	font-size: 2vw;
	top: 3%;
	left: 19%;
	color: #363535;
	z-index: 4515665;
	cursor: pointer;

}

.container-app .main .history-user{

	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background-color: white;

}

.container-app .main .history-user .nav-bar{

	width: 100%;
	height: 7%;
	display: flex;
	align-items: center;
	justify-content: space-between;
	background-color: white;
	box-shadow: 0 0 .5vw 0 #00000033;
	position: relative;
	z-index: 5262565926;
}

.container-app .main .history-user .nav-bar .return-btn{

	margin-right: 5%;
	cursor: pointer;
	padding: .7% 1%;
	border-radius: 100%;
	color: #4c4c4c;
	font-size: 1.5vw;
	margin-left: 1%;

}

.container-app .main .history-user .nav-bar .user-details{

	font-weight: 600;
	font-size: 1.3vw;
	margin-right: 2%;

}

.container-app .main .content-history-page{

	width: 100%;
	height: 93%;
	overflow: hidden;
	overflow-y: auto;

}

.container-app .main .content-history-page .history-list{

	background-color: white;
	box-shadow: 0 0 0.5vw 0 #0000002b;
	margin: 1% 3%;
	padding: 2%;

}


.container-app .main .content-history-page .head-list{

	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-around;
	padding: 1% 0;

}

.container-app .main .content-history-page .head-list .it{

	width: 50%;
	font-size: 1.2vw;
	text-align: center;
	font-weight: 600;

}



.container-app .main .content-history-page .item{

	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-around;
	padding: 1% 0;
	border-top: .1vw solid #d4d4d4;

}

.container-app .main .content-history-page .item .it{

	width: 50%;
	font-size: 1.2vw;
	text-align: center;

}



.error-msg-box{

	width: 25%;
    padding: 1%;
    position: absolute;
    top: 0%;
    left: 45%;
    background-color: white;
    border-left: 0.3vw solid red;
    border-radius: 0.5vw;
    box-shadow: 0 0 1vw 0px #00000029;
    display: flex;
    opacity: 0;
    pointer-events: none;
    align-items: center;
    transition: .3s;
    z-index: 897456447486456489456489478964989489468484894;
}

.error-msg-box i{

	font-size: 2vw;
	color: red;
	margin-right: 3%;

}


.error-msg-box .text{

	font-size: 1vw;
	line-height: 1.5vw;

}

.error-msg-box .text span{

	font-weight: 600;
	font-size: 1.2vw;

}

.success-msg-box{

	width: 25%;
    padding: 1%;
    position: absolute;
    top: 0%;
    left: 45%;
    background-color: white;
    border-left: 0.3vw solid #2196F3;
    border-radius: 0.5vw;
    box-shadow: 0 0 1vw 0px #00000029;
    display: flex;
    opacity: 0;
    pointer-events: none;
    align-items: center;
    transition: .3s;
    z-index: 897456447486456489456489478964989489468484894;
}

.success-msg-box i{

	font-size: 2vw;
	color: #2196F3;
	margin-right: 3%;

}


.success-msg-box .text{

	font-size: 1vw;
	line-height: 1.5vw;

}

.success-msg-box .text span{

	font-weight: 600;
	font-size: 1.2vw;

}


/*********************************************************************************************************************/
/**********************************************                       ************************************************/
/**********************************************   auth admin component     ************************************************/
/**********************************************                       ************************************************/
/*********************************************************************************************************************/


.login-page{

	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	background-color: white;
	z-index: 48561;
	display: flex;
	align-items: center;
	justify-content: center;

}

.login-page .error-msg{

	width: 25%;
	padding: 1%;
	position: absolute;
	top: 0%;
	background-color: white;
	border-left: .3vw solid red;
	border-radius: .5vw;
	box-shadow: 0 0 1vw 0px #00000029;
	display: flex;
	opacity: 0;
	pointer-events: none;
	align-items: center;
	transition: .3s;
}

.login-page .error-msg i{

	font-size: 2vw;
	color: red;
	margin-right: 3%;

}


.login-page .error-msg .text{

	font-size: 1vw;
	line-height: 1.5vw;

}

.login-page .error-msg .text span{

	font-weight: 600;
	font-size: 1.2vw;

}




.login-page .form{

	width: 30%;
	background-color: white;
	box-shadow: 0 0 .5vw 0 #00000040;
	padding: 2%;
	text-align: center;

}

.login-page .form img{

	width: 45%;
	margin-bottom: 8%;
	pointer-events: none;
	user-select: none;

}


.login-page .form .title{

	text-align: center;
	font-size: 2vw;
	color: #303030;
	margin-bottom: 5%;

}


.login-page .form input{

	width: 93%;
	padding: 3%;
	margin-bottom: 6%;
	font-size: 1.2vw;
	border: .1vw solid gray;
	border-radius: .4vw;

}

.login-page .form .footer-form{

	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;

}

.login-page .form .footer-form button{

	width: 100%;
	padding: 3% 0;
	background-color: #202529;
	border: none;
	color: white;
	cursor: pointer;
	font-size: 1.3vw;
	border-radius: .4vw;

}

.login-page .form .footer-form .loading-icon{

	width: 15%;
	padding: 7.5% 0;
	border-radius: 100%;
	position: relative;
	display: none;
	align-items: center;
	justify-content: center;
	background-image: conic-gradient(transparent 10% , #202529 100%);
	animation: rotateLoading .5s infinite linear;

}

@keyframes rotateLoading{

	0%{

		rotate: -360deg;

	}

}

.login-page .form .footer-form .loading-icon div{

	position: absolute;
	width: 80%;
	height: 80%;
	border-radius: 100%;
	background-color: white;

}



@media screen and (max-width:1024px){

	.login-page .form{
		width: 86%;
		box-shadow: 0 0 0 0 transparent;
	}
	
	.login-page .form .title{
		font-size: 5vw;
	}

	.login-page .form input{
		font-size: 3vw;
	}

	.login-page .form .footer-form button{
		font-size: 4vw;
	}

	.login-page .error-msg{
		width: 57%;
	}

	.login-page .error-msg .text{
		font-size: 2.5vw;
		line-height: 3.5vw;
	}

	.login-page .error-msg .text span{
		font-size: 2.2vw;
	}

	.login-page .error-msg i{
		font-size: 4vw;
	}
	.container-app .main .admins-page .list .item-list .it.name button{
		border: none;
		color: white;
		padding: 5%;
		cursor: pointer;
		font-size: 2.2vw;
	}
	.title-form-update-template{
		font-size: 3.3vw !important;
	}

	.container-app .main .settings-page .title {
		font-size: 5vw;
		padding: 2% 3%;
		color: gray;
		display: flex;
		align-items: center;
		position: absolute;
		top: 0;
		margin: 3%;
	}

	.container-app .main .settings-page .form .content-form-settings{
		width: 82%;
	}

	.container-app .main .settings-page .form .content-form-settings .sc .label{
		font-size: 2.7vw;
	}

	.container-app .main .settings-page .form .content-form-settings .sc p{
		font-size: 2.2vw;
	}
	.container-app .main .settings-page .form .content-form-settings .sc input{
		font-size: 2.3vw;
	}
	.container-app .main .settings-page .form .content-form-settings button{
		font-size: 3.3vw;
	}

	.container-app .main .settings-page .form .content-form-settings .sc{
		margin: 9% 0;
	}

}
