.spin-app{

	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	background-color: black;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	display: flex;
	align-items: center;
	overflow: hidden;
	z-index: 1256489413121564896748;
	transition: .9s;

}

.spin-app .logos{

	width: 20%;
	height: 100%;

}


.spin-app .chrono-container{

	text-align: center;
	font-size: 1.2vw;
	border-radius: .5vw;
	position: absolute;
	z-index: 5445645;
	bottom: 1.5%;
	right: 23.5%;
	color: white;
	text-transform: uppercase;
	font-weight: bold;
	text-shadow: .19vw -.1vw black;

}

.spin-app .chrono-container span{

	font-size: 2vw;
	font-family: "digital-font", sans-serif;

}


.spin-app .timer-bar{

	position: absolute;
	right: 23.5%;
	bottom: 8%;
	width: .8%;
	height: 91%;
	background-color: #0000008a;
	z-index: 1235;
	overflow: hidden;
	border-radius: 3vw;

}

.spin-app .timer-bar .timer-bar-content{

	width: 100%;
	position: absolute;
	bottom: 0;
	background-color: #f0b171;
	transition: .3s;

}

.spin-app .spin-section{

	width: 60%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	transition: .5s;
	pointer-events: none;
	user-select: none;

}

.spin-app .spin-section .spin-ctn{

	width: 74%;
	padding: 37% 0;
	margin-top: 0%;
	position: relative;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	display: flex;
	align-items: center;
	justify-content: center;
	scale: 1.11;

}

.spin-app .spin-section .spin-ctn .circle-anim{

	width: 88%;
    height: 88%;
    position: absolute;
    border-radius: 100%;
    border: 0.8vw solid #ebebeb;
    box-shadow: 0 0 2vw 5px white;
    animation: circleAnim 3s;
}

@keyframes circleAnim{

	0%{
		opacity: 0;
	}

	20%{
		opacity: 1;
	}

	30%{
		opacity: 0;
	}

	40%{
		opacity: 1;
	}
	50%{
		opacity: 0;
	}

	60%{
		opacity: 1;
	}

	70%{
		opacity: 0;
	}

	80%{
		opacity: 1;
	}

	90%{
		opacity: 0;
	}

	100%{
		opacity: 1;
	}
}

.spin-app .spin-section .spin-ctn .spin{

	width: 88%;
	position: absolute;
	transition: transform 10s cubic-bezier(0.3, 1, 0.7, 1),
      10s filter cubic-bezier(0.1, 1, 0.8, 1),
      10s -webkit-filter cubic-bezier(0.1, 1, 0.8, 1);
    will-change: transform;
}


.spin-app .spin-section .center-circle-pointer{

    width: 43%;
    height: 47%;
	position: absolute;
	background-position: center;
	background-position-y: 185%;
	background-repeat: no-repeat;
	background-size: cover;
	z-index: 5;
	scale: .6;
	rotate: 4deg;
}

.spin-app .spin-section .center-pointer{

	width: 12%;
	height: 20%;
	top: -5%;
	scale: .5;
	position: absolute;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	z-index: 5;
	transition: .3s;
}

.spin-app .spin-section .indicator-number{

    position: absolute;
    width: 23%;
    height: 23%;
    border-radius: 100%;
    background-color: #2cc93b;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 4.5vw;
    color: white;
    z-index: 8;
    margin-top: 1.8%;
    margin-left: -.1%;
    transition: transform 1s , margin 1s;
    scale: 1.04;

}

.spin-app .spin-section .lodoSpin{

	position: absolute;
	width: 30.9%;
	margin-top: 1.8%;
	z-index: 500;
	scale: .8;

}

.spin-app .dashbord{

	width: 24%;
	height: 100%;
	background-color: #00000063;

}


.spin-app .dashbord .flex-tables{

	width: 100%;
	height: 30%;
	display: flex;
	align-items: center;
	justify-content: space-around;

}

.spin-app .dashbord .flex-tables .section{

	width: 45%;

}

.spin-app .dashbord .flex-tables .section .title{

	text-align: center;
	font-size: 1vw;
	color: white;
	font-weight: 600;
	text-transform: uppercase;
	margin-top: 2%;

}

.spin-app .dashbord .flex-tables .section .table{

	width: 100%;
	margin-top: 3%;
	border: .1vw solid white;
	border-radius: .3vw;
	overflow: hidden;
}

.spin-app .dashbord .flex-tables .section .table .ligne{

	width: 100%;
	display: flex;
	align-items: center;
	color: white;
	border-bottom: .1vw solid white;

}



.spin-app .dashbord .flex-tables .section .table .ligne .ttl{

	width: 75%;
	padding-left: 8%;
	text-transform: uppercase;
	font-weight: 600;
	font-size: .8vw;

}

.spin-app .dashbord .flex-tables .section .table .ligne .numbers{

	width: 25%;
	text-align: center;

}

.spin-app .dashbord .flex-tables .section .table .ligne .numbers .nbr{

	padding: 14% 0;
	background-color: #545a5f;
	border: .1vw solid white;
	border-right: none;
	border-top: none;
	font-size: 1vw;
	position: relative;

}



.spin-app .dashbord .flex-tables .section .table .ligne .numbers .nbr.red{
	background-color: #d90b24;
}

.spin-app .dashbord .flex-tables .section .table .ligne .numbers .nbr.black{
	background-color: #181818;
}

.spin-app .dashbord .flex-tables .section .table .ligne .numbers .nbr.green{
	background-color: #4b9f13;
}

.spin-app .dashbord .flex-tables .section .table .ligne .numbers .nbr.end{

	border-bottom: none;

}

.spin-app .dashbord .flex-tables .section .table .ligne.grd .nbr{

	padding: 7% 0;

}

.spin-app .dashbord .flex-tables .section.hist .table .ligne .numbers .nbr{

	padding: 7%;

}

.spin-app .dashbord .flex-tables .section.hist .table .ligne .ttl{

	font-size: .7vw;

}

.spin-app .dashbord .statistics{

	width: 94%;
	height: 68%;
	margin: 0 3%;
	margin-top: 1%;

}

.spin-app .dashbord .statistics .title{

	text-align: center;
	font-size: 1vw;
	color: white;
	font-weight: 600;
	text-transform: uppercase;

}

.spin-app .dashbord .statistics .table{

	width: 100%;
	height: 96%;
	margin-top: 1%;
	border: .1vw solid white;
	border-radius: .3vw;
	overflow: hidden;
	position: relative;
}

.spin-app .dashbord .statistics .table .content-table{

	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;

}


.spin-app .dashbord .statistics .table .ttl{

	font-size: .8vw;
	font-weight: 600;
	color: white;
	padding: 3%;
	padding-bottom: 0;
	text-transform: uppercase;

}

.spin-app .dashbord .statistics .table .content-table .lignes-container{

	border: .1vw solid white;
	border-radius: .2vw;
	width: 93%;
	height: 49%;
	margin: 0 3%;
	margin-top: 2%;
	overflow: hidden;

}

.spin-app .dashbord .statistics .table .content-table .ligne-nbrs{

	width: 100%;
	height: 7.2%;
	display: flex;
	align-items: center;
	overflow: hidden;
	color: white;
	font-size: .8vw;
	border: .1vw solid white;
	border-top: none;
	border-left: none;
	border-right: none;

}

.spin-app .dashbord .statistics .table .content-table .ligne-nbrs.end{

	border: none;

}


.spin-app .dashbord .statistics .table .content-table .ligne-nbrs.end .key,
.spin-app .dashbord .statistics .table .content-table .ligne-nbrs.end .value{

	width: 50%;

}


.spin-app .dashbord .statistics .table .content-table .ligne-nbrs .key{

	width: 10%;
	height: 100%;
	text-align: center;
	background-color: red;
	border-left: .1vw solid white;
	display: flex;
	align-items: center;
	justify-content: center;

}

.spin-app .dashbord .statistics .table .content-table .ligne-nbrs .key.red{

	background-color: #d90b24;

}

.spin-app .dashbord .statistics .table .content-table .ligne-nbrs .key.black{

	background-color: #181818;

}
.spin-app .dashbord .statistics .table .content-table .ligne-nbrs .key.green{
	background-color: #4b9f13;
}

.spin-app .dashbord .statistics .table .content-table .ligne-nbrs .value{

	width: 24%;
	height: 100%;
	text-align: center;
	border-left: .1vw solid white;
	display: flex;
	align-items: center;
	justify-content: center;

}

.spin-app .dashbord .statistics .table .content-table .ligne{

	color: white;
	width: 93%;
	height: 6%;
	margin: 0 3%;
	display: flex;
	align-items: center;
	border: .1vw solid white;
	margin-top: 1%;
	font-size: 1vw;
	border-radius: .3vw;
	overflow: hidden;

}

.spin-app .dashbord .statistics .table .content-table .ligne .key{

	width: 17%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #5c5f63;
	border-left: .1vw solid white;


}

.spin-app .dashbord .statistics .table .content-table .ligne .value{

	width: 20%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	border-left: .1vw solid white;

}

.spin-app .dashbord .statistics .table .content-table .ligne.tg .key{

	width: 34%;
	border-left: .1vw solid white;

}

.spin-app .dashbord .statistics .table .content-table .ligne .key.red{

	background-color: #d90b24;

}

.spin-app .dashbord .statistics .table .content-table .ligne .key.black{

	background-color: #181818;

}

.spin-app .dashbord .statistics .table .content-table .ligne .key.green{

	background-color: #4b9f13;

}

.spin-app .dashbord .statistics .table .content-table .ligne.hc{

	border-radius: .2vw;

}

.spin-app .dashbord .statistics .table .content-table .ligne.hc .key{

	width: 15%;
	border-left: .1vw solid white;


}

.spin-app .dashbord .statistics .table .content-table .ligne.hc .tl{

	width: 20%;
	font-weight: 600;
	text-transform: uppercase;
	justify-content: left;
	padding-left: 5%;

}

.spin-app .total-bets{

	width: 10%;
	color: white;
	text-align: center;
	border-radius: .5vw;
	border-top-left-radius: 0;
	border-top-right-radius: 0;
	scale: 1;
	padding: 1% 0;
	padding-bottom: .6%;
	display: flex;
	justify-content: center;
	background-color: #00000082;
	position: absolute;
	top: 0;
	right: 25%;

}

.spin-app .total-bets .content{

	width: 90%;
	padding: 5% 0;
	height: 30%;
	font-size: 1vw;
	font-weight: 600;
	border-radius: .3vw;
	background-color: #00000061;

}

.spin-app .user-details{

	width: 30%;
	color: white;
	position: absolute;
	bottom: 5%;
	left: 3%;
	font-weight: 600;
	font-size: 1.2vw;

}

.spin-app .user-details img{

	width: 43%;
	margin-bottom: 2%;
	cursor: pointer;

}

.spin-app .left-section-itm{

	position: absolute;
	width: 12%;
	left: 3%;
	margin-top: -5%;

}


.spin-app .jackpot-section{

	width: 100%;
	padding: 5% 0;
	text-align: center;
	border-radius: .6vw;
	font-size: 1.1vw;
	line-height: 1.8vw;
	text-transform: uppercase;
	margin: 7% 0;
	color: white;

}

.spin-app .jackpot-section img{

	width: 100%;

} 


.spin-app .jackpot-section span{

	font-size: 1.5vw;
	font-weight: 600;
	color: white;

}

.spin-app .jackpot-section.blue{

	/*background-color: #195f99;*/
	top: -10%;
    position: fixed;
    width: 15%;
    padding: 0;

}

.spin-app .jackpot-section.blue span{

	font-size: 1.1vw;

}


.spin-app .jackpot-section.red{

	/*background-color: #b3090a;*/
    padding: 0;
}

.spin-app .jackpot-section.orange{

	background-color: #d93a08;
	width: auto;
    padding: 1.8% 9%;
	border: .4vw solid #e1c463;

}

@media screen and (max-width:900px){
	.spin-app .dashbord .statistics .table .content-table .ligne-nbrs{
		height: 7.9%;
	}

	.spin-app{
		height: 34%;
		position: relative;
		z-index: 950;
	}

	.spin-app .spin-section .spin-ctn {
	    width: 90%;
	    padding: 45% 0;
	    scale: 1.02;

	}
	.spin-app .jackpot-section.blue {
	    top: -1%;
	    position: fixed;
	    width: 17%;
	    padding: 0;
	}
	.spin-app .jackpot-section.orange {
	    padding: 4% 9%;
	}

}