<div class="error-msg-box">
	<i class="fa-solid fa-circle-xmark"></i>
	<div class="text">
		<span>Error</span>
		<p>{{errorMsg}}</p>
	</div>
	
</div>
<div class="success-msg-box">
	<i class="fa-solid fa-circle-check"></i>
	<div class="text">
		<span>Success</span>
		<p>{{successMsg}}</p>
	</div>
</div>
<div class="user-form">
	<div class="return-btn" [routerLink]="'/admin/management/admins'" ><i class="fa-solid fa-arrow-left"></i></div>
	<div class="form" *ngIf="!isLoading">
		<input type="text" placeholder="First name" (input)="updateUserInfos('name',$event)"  [value]="adminEntries.name"/>
		<br>
		<input type="text" placeholder="Last name" (input)="updateUserInfos('lastName',$event)"  [value]="adminEntries.lastName"/>
		<br>
		<input type="text" placeholder="PseudoName" (input)="updateUserInfos('pseudoName',$event)"  [value]="adminEntries.pseudoName"/>
		<br>
		<input type="number" [value]="adminEntries.teleAdmin" (input)="updateUserInfos('teleAdmin',$event)" placeholder="Telephone"/>
		<br>
		<label>Solde: {{requestUpdateInfos.solde}}</label>
		<br>
		<br>
		<div class="sc">
			<input type="number" class="amount" placeholder="amount" #amount />
			<button class="amount" (click)="changeSolde(amount,'+')"><i class="fa-solid fa-plus"  ></i></button>
			<button class="amount" (click)="changeSolde(amount,'-')"><i class="fa-solid fa-minus"></i></button>
		</div>
		<br>
		<select class="profit-select" (change)="updateUserInfos('prencentage',$event)" *ngIf="userType === 'superAdmin'">
			<option value="0">Profit ( % )</option>
			<option value="20">20%</option>
			<option value="30">30%</option>
			<option value="40">40%</option>
			<option value="50">50%</option>
			<option value="70">70%</option>
			<option value="80">80%</option>
			<option value="90">90%</option>
			<option value="100">100%</option>
		</select>
		<br>
		<button (click)="update()" *ngIf="!isLoadingForm">save</button>
		<div class="loading-ellipsis" style="
				    top:auto;
				    bottom:-5%;left: 10%;" *ngIf="isLoadingForm">
				<div class="r1" style="
					width: 2.5%;
				    padding: 1.25% 0;
				    border-radius: 100%;
				    background-color: #b6b6b687;
				    margin: 0 2%;
				    scale: 2;"></div>
				<div class="r2" style="
					width: 2.5%;
				    padding: 1.25% 0;
				    border-radius: 100%;
				    background-color: #b6b6b687;
				    margin: 0 2%;
				    scale: 2;"></div>
				<div class="r3" style="
					width: 2.5%;
				    padding: 1.25% 0;
				    border-radius: 100%;
				    background-color: #b6b6b687;
				    margin: 0 2%;
				    scale: 2;"></div>
			</div>
	</div>
	<div class="loading-ellipsis" *ngIf="isLoading">
		<div class="r1"></div>
		<div class="r2"></div>
		<div class="r3"></div>
	</div>
</div>