<div class="history-player">
	
	<div class="nav-bar">
		<div class="return-btn" (click)="returnFromPage()" >
			<i class="fa-solid fa-xmark"></i>
		</div>
	</div>
	<div class="content-history-page" *ngIf="!isLoading">
		<div class="history-list">
			<div class="head-list">
				<div class="it">#</div>
				<div class="it">Amount</div>
				<div class="it">Status</div>
				<div class="it">Action</div>
			</div>
			<div class="item" *ngFor="let item of history">
				<div class="it">{{item._id}}</div>
				<div class="it">{{item.solde}}</div>
				<div class="it" style="color:green;" *ngIf="item.gagnion && !item.realTime">win</div>
				<div class="it" style="color:red;" *ngIf="!item.gagnion && !item.realTime">lose</div>
				<div class="it" style="color:orange;" *ngIf="item.realTime">pending</div>
				<div class="it"><button (click)="openToOverview(item._id)" ><i class="fa-regular fa-eye"></i></button></div>
			</div>
		</div>
	</div>
	<div class="loading-ellipsis" style="width: 100%;" *ngIf="isLoading">
		<div class="r1"></div>
		<div class="r2"></div>
		<div class="r3"></div>
	</div>

</div>