<div class="admins-page">
	
	<div class="header">
		<div class="title" *ngIf="userType === 'superAdmin'">Admins Management</div>
		<div class="title" *ngIf="userType === 'start_admin'">Super admins Management</div>
		<input type="text" placeholder="search"(input)="search($event)" />
		<div class="btns">
			<div class="btn" routerLink="/admin/management/add-admin/">
				<i class="fa-solid fa-circle-plus"></i>
				<p>New admin</p>
			</div>
		</div>
	</div>
	<div class="list">
		<div class="head-list">
			<div class="item">login</div>
			<div class="item">Name</div>
			<div class="item">solde</div>
			<div class="item" *ngIf="userType != 'start_admin'">Profit</div>
			<div class="item">Telephone</div>
			<div class="item" *ngIf="userType != 'start_admin'">Players</div>
			<div class="item" *ngIf="userType === 'start_admin'">Admins</div>
			<div class="item">Action</div>
		</div>
		<div class="item-list" *ngFor="let admin of admins" #item>
			<div class="it name">{{admin.login}}</div>
			<div class="it name">{{admin.name}} {{admin.lastName}}</div>
			<div class="it">{{admin.solde}}</div>
			<div class="it" *ngIf="userType != 'start_admin'">{{admin.prencentage}}%</div>
			<div class="it">{{admin.teleAdmin}}</div>
			<div class="it link" *ngIf="userType != 'start_admin'">
				<i class="fa-solid fa-eye" style="padding: 6% 5%;" (click)="openUserForAdmin(admin)" ></i>
			</div>
			<div class="it link" *ngIf="userType === 'start_admin'">
				<i class="fa-solid fa-eye" style="padding: 6% 5%;" [routerLink]="'/admin/management/admins/'+admin._id" ></i>
			</div>
			<div class="it" *ngIf="userType != 'start_admin'">
				<div class="btn edit" [routerLink]="'/admin/management/update-admin/'+admin._id">
					<i class="fa-regular fa-pen-to-square"></i>
				</div>
				<div class="btn block" (click)="desactiveAdmin(admin,item)">
					<i class="fa-solid fa-ban"></i>
				</div>
			</div>

			<div class="it" *ngIf="userType === 'start_admin'">
				<div class="btn edit" style="width: 18%;padding: 5% 0;" [routerLink]="'/admin/management/update-admin/'+admin._id">
					<i class="fa-regular fa-pen-to-square"></i>
				</div>
				<div class="btn block" style="width: 18%;padding: 5% 0;" (click)="desactiveAdmin(admin,item)">
					<i class="fa-solid fa-ban"></i>
				</div>
			</div>
		</div>

	</div>		

</div>